{% extends 'base.html' %}

{% block header %}
  <h1>Enter address</h1>
{% endblock %}

{% block content %}
    <h1 class="display-5 fw-bold">A2Votes</h1>
    <p class="lead text-muted">A2Votes.com is a volunteer-made site that uses public data to show the polling location and a ballot preview based on an address. Enter an address below to try it out.</p>
    <form action="/results" method="get">
      <input style="font-size: 16px; width: 100%; margin-bottom: 16px" type="text" id="addr" name="addr" />
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
{% endblock %}

