{% extends 'base.html' %}

{% block head %}
  <script>
    function onDocumentReady() {
      document.getElementById('addr').focus();
      document.getElementById('submit').style.display = 'block';
      document.getElementById('loading').style.display = 'none';
    }
    function showloading() {
      document.getElementById('submit').style.display = 'none';
      document.getElementById('loading').style.display = 'block';
    }
  </script>
{% endblock %}

{% block content %}
  <h1 class="display-5 fw-bold">A2Votes</h1>
  <p class="lead text-muted">This is a volunteer-made site that uses public data to show the polling location based on an address within the city of Ann Arbor. Enter an address below to try it out.</p>
  <form action="/results" onsubmit="javascript:showloading()" method="get">
    <input style="font-size: 16px; width: 100%; margin-bottom: 16px" type="text" id="addr" name="addr" />
    <button id="submit" type="submit" class="btn btn-primary">Search</button>
    <button id="loading" style="display: none; width: 75px" class="btn btn-primary" disabled>
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </button>
  </form>
  <div style="font-size: 13px; font-weight: 400; position: fixed; bottom: 12px; left: 0; width: 100vw; text-align: center;" class="text-muted">
    The code for this website is <a href="https://github.com/gauravmk/a2votes">open source</a>. 
    All feedback and corrections can be sent to <a href="mailto:gaurav@gauravkulkarni.com">gaurav@gauravkulkarni.com</a>, Bluesky at <a href="https://bsky.app/profile/a2gaurav.bsky.social">@a2gaurav.bsky.social</a>, or via <a href="https://github.com/gauravmk/a2votes/issues">github issue</a>.
  </div>
{% endblock %}

